/*  your css code here. If applicable */
.container{
	background-color : #f5f5f6;
	padding: 20px;
	font-size: 8px;
	width: 70%;
}
.item{
	background-color : white;
	padding: 10px;
	border: 1px solid gray;
}
.author{
	text-align: right;
	font-style: italic;
}